[Unit]
Description=Dockerized golangapp
After=docker.service
Requires=docker.service
[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory= /golangapp
ExecStart=/usr/local/bin/docker-compose -f /golangapp/docker-compose.yml up -d
ExecStop=/usr/local/bin/docker-compose -f /golangapp/docker-compose.yml down
[Install]
WantedBy=multi-user.target